body {
    padding: 0;
    margin: 0;
    background-color: #e4ecf3;
    font-family: sans-serif;
    overflow-y: hidden;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.login-box {
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .login-box-header {
        margin-bottom: 50px;
    }

    .login-greeting {
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 600;
        
    }

    .login-warning {
        display: inline;
        margin-bottom: 50px;
    }

    .login-label {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }

    .login-input {
        display: block;
        padding: 15px 140px 15px 30px;
        background: #ECECEC;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        
        &::placeholder {
            font-size: 20px;
        }
    }

    #passwd-input {
        display: inline;
    }

    .password-request {
        color: #499DEB;
        font-size: 16px;
        text-decoration: none;
        display: block;
        margin-top: 10px;
    }

    .login-section,.password-section{
        margin-bottom: 30px;
    }

    .login-btn {
        display: block;
        width: 100%;
        border-radius: 4px;
        background: #5B8AB6;
        padding: 10px;
        border: none;
        color: white;
        font-size: 20px;
        transition: 0.3s;
    }

    .login-btn:hover {
        cursor: pointer;
        background-color: #436c92;
    }
}

.icon {
    display: inline;
    width: 20px;
    height: 20px;
    vertical-align: sub;
    color: #000;

    .info {
        text-align: right;
    }
}

.list-header {
    display: block;
    background-color: #fff;
    height: 100px;
    line-height: 100px;

    .st-name {
        margin-left: 115px;
        color: #303030;
        font-size: 22px;
        font-weight: 500;
    }
}

.list-sidebar {
    background-color: #fff;
    width: 105px;
    height: calc(100vh - 100px);
    position: fixed;

    .sidebar-wrapper {
        margin: 0;
        padding: 50px 0;
        text-align: center;
        list-style-type: none;


        .sidebar-item {
            transition: 0.3s;

            &.selected {

                a {
                    background-color: #5b8ab6;
                    color: #fff;
                }
            }

            &:not(.selected):hover {
                opacity: 0.6;
            }
        }
        .sidebar-item:not(:first-child):not(:last-child) {
            margin: 50px 0;
        }

        a {
            background-color: #fff;
            color: #5b8ab6;
            text-decoration: none;
            border: 2px solid #5b8ab6;
            border-radius: 7px;
            padding: 15px 10px;

            span {
                vertical-align: middle;
                font-size: 35px;
            }
        }
    }
}

.list-wrapper {
    display: flex;
    justify-content: space-around;
    height: 100%;
    
}

.student-list {
    flex: 0 1 auto;
    align-self: auto;
    margin: 50px auto;
    font-size: 16px;
    
    .student-list-wrapper {
        border: none;
        width: 70vw;
    }

    .student-list-header {
        background-color: #93AEC7;
        color: #fff;
        font-size: 20px;
    }

    .student-list-person {
        background-color: #fff;
        color: #303030;
        cursor: pointer;

        &:nth-child(2n-1) {
            background-color: #F6F6F6;
        }
    }
}

#student-additional-info {
    opacity: 0;
}

.student-info-section {
    overflow-y: scroll;
    width: 70vw;
    height: 80vh;
    background-color: #fff;

    .student-info-header {
        text-align: center;
        background-color: #5B8AB6;
        font-size: 20px;
        padding: 10px;

        button {
            background-color: #5B8AB6;
            cursor: pointer;
            float: right;
            border: none;
            margin-top: 4px;
            

            span {
                display: block !important;
                margin: 0 auto;
                color: #fff;
                
            }
        }

        span {
            font-size: 24px;
            color: #fff;
        }
    }

    .student-info {
        display: flex;
        justify-content: space-around;

        table {
            width: 380px;
            margin-top: 20px;

            td:nth-child(2n-1) {
                color: #23232380;
            }
        }


        .student-image {
            margin: 20px;
        }

        .info-header {
            margin-top: 20px;
            text-align: center;
            width: 180px;
            padding: 10px 100px;
            background-color: #eee;
            border-radius: 10px;
        }
    }

    .student-activity {

        .activity-header {
            background-color: #eee;
            text-align: center;
            padding: 10px;
            display: block;
            margin: 50px auto 0px auto;
            width: calc(100% - 150px);
            border-radius: 10px;
        }

        .student-credits {
            
            
            p {
                background-color: #eee;
                padding: 10px 30px;
                display: inline-block;
                border-radius: 10px;
                margin-left: 65px;
                margin-top: 40px;
            }

            table {
                width: calc(100% - 130px);
                margin-left: 65px;
                margin-top: 20px;

                tbody {
                    td {
                        padding: 20px;
                        
                        span:nth-child(2n) {
                            color: #232323;
                            float: right;
                        }
                    }
                }

                tr:nth-child(2n-1) {
                    background-color: #f6f6f6;
                }
            }
        }
    }
}

.list-filters {
    flex: 0 1 auto;
    height: calc(100vh - 130px);
    background-color: #fff;
    text-align: center;
    padding: 15px;

    p {
        display: block;
        margin: 50px auto;
        margin-top: 50px;
        border-radius: 10px;
        background-color: #5B8AB6;
        color: #fff;
        text-align: center;
        width: 230px;
        font-size: 24px;
        height: 45px;
        line-height: 45px;
    }

    input {
        margin: 0;
        padding: 0;
        width: 230px;
        height: 45px;
        line-height: 45px;
        border-radius: 10px;
        border: none;
        background-color: #ececec;
        margin: 10px 0;

        &::placeholder {
            font-size: 16px;
        }
    }
}

.upload-section {
    margin-left: 105px;
    margin-top: 20px;
    text-align: center;

    p {
        font-size: 24px;
    }

    .upload-example {
        margin-bottom: 20px;
    }

    .upload-info {
        font-size: 20px;
        color: red;
        margin-bottom: 50px;
    }

    .upload-button {
        color: #fff;
        background-color: #5B8AB6;
        border-radius: 10px;
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        font-size: 24px;
    }

    .upload-file-area {
        display: block;
        margin: 60px auto;
        width: 750px;
        height: 400px;
        border: 6px solid #5B8AB6;
        border-radius: 30px;

        p {
            color: gray;
            margin-top: 80px;
            font-size: 22px;
        }

        span {
            font-size: 80px;
            color: #5B8AB6;
            margin-top: 100px;
        }
    }
}