body {
    padding: 0;
    margin: 0;
    background-color: #e4ecf3;
    font-family: sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.login-box {
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .login-box-header {
        margin-bottom: 50px;
    }

    .login-greeting {
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 600;
        
    }

    .login-warning {
        display: inline;
        margin-bottom: 50px;
    }

    .login-label {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }

    .login-input {
        display: block;
        padding: 15px 140px 15px 30px;
        background: #ECECEC;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        
        &::placeholder {
            font-size: 20px;
        }
    }

    #passwd-input {
        display: inline;
    }

    .password-request {
        color: #499DEB;
        font-size: 16px;
        text-decoration: none;
        display: block;
        margin-top: 10px;
    }

    .login-section,.password-section{
        margin-bottom: 30px;
    }

    .login-btn {
        display: block;
        width: 100%;
        border-radius: 4px;
        background: #5B8AB6;
        padding: 10px;
        border: none;
        color: white;
        font-size: 20px;
        transition: 0.3s;
    }

    .login-btn:hover {
        cursor: pointer;
        background-color: #436c92;
    }
}

.icon {
    display: inline;
    width: 20px;
    height: 20px;
    vertical-align: sub;
    color: #000;

    .info {
        text-align: right;
    }
}

.list-header {
    display: block;
    background-color: #fff;
    height: 100px;
    line-height: 100px;

    .st-name {
        margin-left: 115px;
        color: #303030;
        font-size: 22px;
        font-weight: 500;
    }
}

.list-container {
    display: grid;
    grid-template-columns: 105px calc(100vw - 375px) 270px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.list-sidebar {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #fff;
    width: 105px;
    height: calc(100vh - 100px);

    .sidebar-wrapper {
        margin: 0;
        padding: 50px 0;
        text-align: center;
        display: block;
        list-style-type: none;


        .sidebar-item {
            transition: 0.3s;

            &.selected {

                a {
                    background-color: #5b8ab6;
                    color: #fff;
                }
            }

            &:not(.selected):hover {
                opacity: 0.6;
            }
        }
        .sidebar-item:not(:first-child):not(:last-child) {
            margin: 50px 0;
        }

        a {
            background-color: #fff;
            color: #5b8ab6;
            text-decoration: none;
            border: 2px solid #5b8ab6;
            border-radius: 7px;
            padding: 15px 10px;

            span {
                vertical-align: middle;
                font-size: 35px;
            }
        }
    }
}

.student-list {
    display: block;
    margin: 50px auto;
    grid-area: 1 / 2 / 2 / 3;
    font-size: 16px;
    
    .student-list-wrapper {
        border: none;
    }

    .student-list-header {
        background-color: #93AEC7;
        color: #fff;
        font-size: 20px;
    }

    .student-list-person {
        background-color: #fff;
        color: #303030;

        &:nth-child(2n-1) {
            background-color: #F6F6F6;
        }
    }
}

.list-filters {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #fff;
    text-align: center;

    p {
        display: block;
        margin: 50px auto;
        margin-top: 50px;
        border-radius: 10px;
        background-color: #5B8AB6;
        color: #fff;
        text-align: center;
        width: 230px;
        font-size: 24px;
        height: 45px;
        line-height: 45px;
    }

    input {
        margin: 0;
        padding: 0;
        width: 230px;
        height: 45px;
        line-height: 45px;
        border-radius: 10px;
        border: none;
        background-color: #ececec;
        margin: 10px 0;

        &::placeholder {
            font-size: 16px;
        }
    }
}